{{log 'ledgers' this}}
<div class = "pfledger">
  <form>
    <ul>
      <table class = "pfledger-table">
        <thead>
          <tr>
            <th class = "pfledger-th">Log</th>
            <th class = "pfledger-th">PP</th>
            <th class = "pfledger-th">GP</th>
            <th class = "pfledger-th">SP</th>
            <th class = "pfledger-th">CP</th>
            <th class = "pfledger-th">WL:</th>
            <th class = "pfledger-th">PP</th>
            <th class = "pfledger-th">GP</th>
            <th class = "pfledger-th">SP</th>
            <th class = "pfledger-th">CP</th>
            <th class = "pfledger-th">Character</th>
            <th class = "pfledger-th">User</th>
          </tr>
        </thead>
        <tbody>
          {{#each ledgers}}
            <tr>
              <td class = "pfledger-td">{{Log}}</td>
              <td class = "pfledger-td">{{currencyDiff.pp}}</td>
              <td class = "pfledger-td">{{currencyDiff.gp}}</td>
              <td class = "pfledger-td">{{currencyDiff.sp}}</td>
              <td class = "pfledger-td">{{currencyDiff.cp}}</td>
              <td class = "pfledger-td"></td>
              <td class = "pfledger-td">{{altCurrencyDiff.pp}}</td>
              <td class = "pfledger-td">{{altCurrencyDiff.gp}}</td>
              <td class = "pfledger-td">{{altCurrencyDiff.sp}}</td>
              <td class = "pfledger-td">{{altCurrencyDiff.cp}}</td>
              <td class = "pfledger-td">{{Character}}</td>
              <td class = "pfledger-td">{{UserName}}</td>
            </tr>
            <tr>
              <td class = "pfledger-td">New Total:</td>
              <td class = "pfledger-td">{{currency.pp}}</td>
              <td class = "pfledger-td">{{currency.gp}}</td>
              <td class = "pfledger-td">{{currency.sp}}</td>
              <td class = "pfledger-td">{{currency.cp}}</td>
              <td class = "pfledger-td"></td>
              <td class = "pfledger-td">{{altCurrency.pp}}</td>
              <td class = "pfledger-td">{{altCurrency.gp}}</td>
              <td class = "pfledger-td">{{altCurrency.sp}}</td>
              <td class = "pfledger-td">{{altCurrency.cp}}</td>
              <td class = "pfledger-td"></td>
              <td class = "pfledger-td"></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </ul>
  </form>
</div>
