{{log 'ledgers' this}}
<form>
  <ul>
    <table>
      <thead>
        <tr>
          <th>Log</th>
          <th>Currency:</th>
          <th>PP</th>
          <th>GP</th>
          <th>SP</th>
          <th>CP</th>
          <th>Weightless:</th>
          <th>PP</th>
          <th>GP</th>
          <th>SP</th>
          <th>PP</th>
          <th>Character</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        {{#each ledgers}}
          <tr>
            <td>{{Log}}</td>
            <td>|--------------|</td>
            <td>{{currencyDiff.pp}}</td>
            <td>{{currencyDiff.gp}}</td>
            <td>{{currencyDiff.sp}}</td>
            <td>{{currencyDiff.cp}}</td>
            <td>|----------------|</td>
            <td>{{altCurrencyDiff.pp}}</td>
            <td>{{altCurrencyDiff.gp}}</td>
            <td>{{altCurrencyDiff.sp}}</td>
            <td>{{altCurrencyDiff.cp}}</td>
            <td>{{Character}}</td>
            <td>{{UserName}}</td>
          </tr>
          <tr>
            <td>New Total:</td>
            <td>|--------------|</td>
            <td>{{currency.pp}}</td>
            <td>{{currency.gp}}</td>
            <td>{{currency.sp}}</td>
            <td>{{currency.cp}}</td>
            <td>|----------------|</td>
            <td>{{altCurrency.pp}}</td>
            <td>{{altCurrency.gp}}</td>
            <td>{{altCurrency.sp}}</td>
            <td>{{altCurrency.cp}}</td>
            <td></td>
            <td></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </ul>
</form>
